{
  "api.version": "v1",
  "sources": [
    {
      "sourceType" : "LocalFile",
      "name": "project_b",
      "pathExpression": "/tmp/clogs/project-b/*.log",
      "automaticDateParsing": true,
      "forceTimeZone": false,
      "category": "${SUMO_CATEGORY}/project-b"
    }
	]
}
